$site-font: 'Roboto', sans-serif;
$header-fonts: 'Montserrat', sans-serif;

$ghost-white: #F9F8F8;
$charcoal: #373f51;
$rich-electric-blue: #008DD5;
$lapis-lazuli: #2274A5;
$spanish-gray: #969A97;
$japanese-carmine:#9d2933;

